        a,
        a:visited {
          color: black;
          text-decoration: none;
        }
        a:hover {
          color: #FF0179;
          background-color: yellow;
          text-decoration: none;
        }
        div {
            margin-bottom: 10px;
        }
        .relax {
            background: -webkit-linear-gradient(180deg, #e5f7f8, #f3f3f3 49%, #dcdfdf) fixed;
            background: -o-linear-gradient(180deg, #e5f7f8, #f3f3f3 49%, #dcdfdf) fixed;
            background: linear-gradient(180deg, #e5f7f8, #f3f3f3 49%, #dcdfdf) fixed;
        }
        .pageheading {
            display: block;
            text-align: center;
            font-size: 3em;
            font-family: sans-serif;
            font-weight: bold;
            padding: 0;
            margin-bottom: 50px;
            color: #FF0179;
        }
        .title {
            font-size: 20px;
            font-weight: bold;
            margin-top: 0;
            text-transform: uppercase;
            color: #FF0179;
/*            background-color: yellow;
            padding: 5px;*/
        }
        .script {
            font-family: monospace;
        }
        .credit{
            font-size: 1em;
        }
        .recommendation{
            text-transform: uppercase;
            font-weight: bold;
        }  
        .loud {
            font-size: 2em;
            margin: 0 0 20px 0;
            padding: 10px 5px;
            line-height: 1;
            color: #FF0179;
            text-align: center;
            background-color: transparent;
            text-transform: uppercase;
        }
        .clipvertical {
            max-height: 400px;
            overflow-y: scroll; 
        }
        .push{
            position: relative;
            height: 0px;
            width: 100%;
        }
        .logo{
            position: absolute;
            bottom:0;
            right:20px;
            max-width:220px;
        }
        @media screen and (max-width: 768px) {
            .pageheading{font-size: 2.5em;}
            .push{
                position: relative;
                height: 100px;
                width: 100%;
            }
            .logo{
                position: relative;
                margin: 0 auto;
            }
        }