@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

.sweepstakes {
  font-family: sans-serif; 
  font-weight: 400;
  background-color: transparent;
  background: url('../img/sweepstakes-mystery.gif') repeat;
}
.sweepstakes-container{
  margin-top: 40px;
}
.dolphin-container {
  margin-top: 60px;
}
.dolphin-container h1{
  color: #FF0179;
}
.sweepstakes-container h3,
.dolphin-container h3{
  font-weight: normal; 
  font-size: 22px;
}
.sweepstakes-container form a:hover,
.dolphin-container form a:hover {
  background: url("../img/glitter07.gif") repeat;
  text-decoration: underline;
}
.sweepstakes-container a,
.sweepstakes-container form a {
  color: magenta;
  text-decoration: underline;
}
.sweepstakes-container .terms a,
.sweepstakes-container .terms a {
  color: magenta;
}
.sweepstakes-container .fa{
  color: yellow;
  background-color: magenta;
  cursor: pointer;
  padding: 7px 5px;
}
.sweepstakes-container .fa:hover{
  color: magenta;
  background-color: yellow;
}
.dolphin-container a {
  color: #FF0179;
}
.dolphin-container form a {
  color: #FF0179;
  text-decoration: underline;
}

.dolphin-container .fa{
  color: yellow;
  background-color: #FF0179;
  cursor: pointer;
  padding: 7px 5px;
}
.dolphin-container .fa:hover{
  color: #FF0179;
  background-color: yellow;
}
.dolphin-container .credit-footer{
  margin-top:  40px;
}

#makingyou img {width: 60px; }

#makingothers img {width: 100px; }

.embed-responsive .embed-responsive-item, 
.embed-responsive iframe, 
.embed-responsive embed, 
.embed-responsive object, 
.embed-responsive video {top:-1px;}

/*******************************
walk-on video
********************************/

#anxious-media-player{
  position: fixed;
  right: 0;
  bottom: -6px;
  z-index: 999999;
}
#anxious-controls{
  position: absolute;
  bottom: 30%;
  right: 45%;
  display: none;
}
#anxious-play, #anxious-pause, #anxious-next {
  display: none;
}
#anxious-resume{
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
}
#anxious-next {
  position: fixed;
  z-index: 999999;
  bottom: 0;
  right: 0;
  text-transform: uppercase;
  font-family: sans-serif; 
  background-color: transparent;
  padding: 0;
} 
#anxious-next:hover,
#anxious-next:hover * {
  color: magenta;
  background-color: transparent;
}
#anxious-next a {
  text-decoration: none;
  color: yellow;
}
#anxious-mobile-video {
  display: none;
}

.no-video .anxious-to-intervene,
.no-video .anxious-info,
.no-video .anxious-next { 
  display: none; 
}
 

/*******************************
form dolphin
********************************/
.dolphin-container {
  margin-bottom:  60px;
}

.dolphin-container form { max-width:100%; margin:50px auto; }

.dolphin-container .feedback-input {
  color:#FF0179;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 30px;
  border-radius: 0px;
  line-height: 42px;
  background-color: #fff;
  border:2px solid #FF0179;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.dolphin-container .feedback-input:focus { 
  border:2px solid #FF0179; 
  background: url("../img/glitter14.gif") repeat;
  color: #FFFF00; 
}

.dolphin-container textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

.dolphin-container [type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#FF0179;
  border-radius:0px;
  border:0;
  cursor:pointer;
  color:yellow;
  font-size:30px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:30px;
  font-weight:700;
}
.dolphin-container [type="submit"]:hover { background:yellow; color:#FF0179; }

.dolphin-container ::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color:#FF0179; }
.dolphin-container ::-moz-placeholder { /* Firefox 19+ */ color: #FF0179; }
.dolphin-container :-ms-input-placeholder { /* IE 10+ */ color: #FF0179; }
.dolphin-container :-moz-placeholder { /* Firefox 18- */ color: #FF0179; }

.dolphin-container input[type="checkbox"] {
    display: none;
}

.dolphin-container input[type="checkbox"] + label span {
    display:inline-block;
    width:34px;
    height:34px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:#fff;
    border: 2px solid #FF0179;
    cursor:pointer;
}
.dolphin-container input[type="checkbox"]:checked + label span {
    background:url("../img/dot1.gif") 0 0 no-repeat;
    background-size: 30px 30px;
}

.dolphin-container label {
  font-size: 20px;
  color: #FF0179;
}

.dolphin-container #thankyou_message {
  background: #ffff00;
  color: #FF0179;
  margin-top: 50px;
  padding: 10px 20px;
  font-size: 30px; 
  display: block;
  max-width: 100%;
  margin: 20px auto;
  text-align: center; 
}
.dolphin-container .thanks {
  display: block;
  margin: 0 auto;
}



/*******************************
form sweepstakes
********************************/


form { max-width:600px; margin:50px auto; }

.feedback-input {
  color:magenta;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 30px;
  border-radius: 0px;
  line-height: 42px;
  background-color: #fff;
  border:2px solid magenta;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { 
  border:2px solid magenta; 
  background: url("../img/glitter14.gif") repeat;
  color: #FFFF00; 
}

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:magenta;
  border-radius:0px;
  border:0;
  cursor:pointer;
  color:yellow;
  font-size:30px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:30px;
  font-weight:700;
}
[type="submit"]:hover { background:yellow; color:magenta; }

::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color: magenta; }
::-moz-placeholder { /* Firefox 19+ */ color: #F58BF5; }
:-ms-input-placeholder { /* IE 10+ */ color: #F58BF5; }
:-moz-placeholder { /* Firefox 18- */ color: #F58BF5; }

input[type="checkbox"] {
    display: none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:34px;
    height:34px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:#fff;
    border: 2px solid magenta;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    background:url("../img/dot1.gif") 0 0 no-repeat;
    background-size: 30px 30px;
}


label {
  font-size: 20px;
  color: magenta;
}
.sweepstakes label:hover {
  font-size: 4em;
}

#thankyou_message {
  background: #ffff00;
  color: magenta;
  padding: 10px 20px;
  font-size: 30px; 
  display: block;
  max-width: 750px;
  margin: 0 auto; 
}
.thanks {
  display: block;
  margin: 0 auto;
}
.clickme {
  font-weight: bold;
  text-decoration: underline;
}
.clickme:hover {
    cursor:pointer !important;
}
.line-up{
  display: inline-block;
}
.skull{
  width: 100px;
}

.falling-object{
  position: absolute;
  top: -1000px;
  display: block;
}
.clickhere {
  display: none;
  position: absolute;
  top: 12;
  left: -26px;
  z-index: 9999;
  width: 100px;
}

#makingothers .clickhere {
  top: 50px;
  left: -6px;
}



/*******************************
media queries
********************************/

@media  (max-width: 796px) {
  .popup .popUpContainer{
    width: 90%;
    max-width: none;
    left: 5%;
    margin-left: 0;
  }
  .popup ul{
    padding: 0 1em 0 1em;
  }
  .popup:target .popUpContainer{
    top: 25px;
    -webkit-transition: top  0.35s ease;
    -moz-transition: top 0.35s ease;
    -o-transition: top 0.35s ease;
    transition: top 0.35s ease;
  }
  .popup article{
    font-size: 0.75em;
  }
  .popup h2,
  .popup a.closePopUp{
    font-size: 1em;
  }
}

@media only screen and (max-device-width : 480px) {
  .anxious-to-intervene{
    display: none;
  }
}

