<!--START: CONTACT MODAL-->
<aside id="contact-modal" class="popup">
  <div class="popUpContainer">
    <header>
      <a href="#!" class="closePopUp">X</a>
      <h2>Contact Us</h2>
    </header>
    <article class="modal-text">

      <p class="email"><img src="img/mail.gif"><span><a href="mailto:anxioustomake@gmail.com?subject=Anxious to communicate"> anxioustomake@gmail.com</a></span></p>

    </article>
  </div>        
  <a href="#!" class="closePopUpOutSide"></a>    
</aside>
<!--END: CONTACT MODAL-->
