<!--START: CONTACT MODAL-->
<aside id="contact-modal" class="popup">
  <div class="popUpContainer">
    <header>
      <a href="#!" class="closePopUp">X</a>
      <h2>Contact Us</h2>
    </header>
    <article class="modal-text">
      <p class="email"><img src="img/mail.gif"><span>
      <a href="mailto:anxioustomake@gmail.com?subject=Anxious to communicate"> anxioustomake@gmail.com</a><br/>
      <i class="fa fa-twitter"></i><a href="https://twitter.com/anxioustomake" target="_blank"> @anxioustomake</a><br/>
      </a>Emily <a href="https://twitter.com/Resonator11" target="_blank"> <i class="fa fa-twitter"></i></a> <a href="https://instagram.com/queerai" target="_blank"> <i class="fa fa-instagram"></i></a> + Liat <a href="https://twitter.com/whatliat" target="_blank"><i class="fa fa-twitter"></i></a> <a href="https://instagram.com/whatliat" target="_blank"><i class="fa fa-instagram"></i></a>
      </span> </p>
    </article>
  </div>        
  <a href="#!" class="closePopUpOutSide"></a>    
</aside>
<!--END: CONTACT MODAL-->
