<!--START: AFTERWORK MODAL-->
<aside id="afterwork-modal" class="popup">
  <div class="popUpContainer">
    <header>
      <a href="#!" class="closePopUp">X</a>
      <h2><small>After Work</small></h2>
    </header>
    <article class="modal-text">
      <p>Before you design the future, please watch:</p>
      <iframe src="https://player.vimeo.com/video/222723623?title=0&byline=0&portrait=0" width="320" height="180" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </article>
  </div>        
  <a href="#!" class="closePopUpOutSide"></a>    
</aside>
<!--END: AFTERWORK MODAL-->