<!-- START: NAVIGATION -->

<!-- Dash Navbar Button -->
<button class="dnl-btn-toggle">
  <span class="fa fa-bars"></span>
</button>

<!-- Dash Navbar Left -->
<div class="dash-navbar-left dnl-hidden">
  <a href="/"><img class ="img-responsive anx-logo" src="img/anxious-logo-bubblegum.png"></a>
  <div class="clearfix"></div>
  <p class="dnl-nav-title">Work</p>
  <ul class="dnl-nav">
    <li>
      <a class="collapsed" data-toggle="collapse" href="#collapseStatistics" aria-expanded="false" aria-controls="collapseStatistics">
        <span class="fa fa-database dnl-link-icon"></span>
        <span class="dnl-link-text">Generators</span>
        <span class="fa fa-angle-up dnl-btn-sub-collapse"></span>
      </a>
      <!-- Dropdown level one -->
      <ul class="dnl-sub-one collapse" id="collapseStatistics">
        <li>
          <a href="projectgenerator.html">
            <span class="fa fa-database dnl-link-icon"></span>
            <span class="dnl-link-text">Project Generator</span>
          </a>
        </li>
        <li>
          <a href="brandgenerator.html">
            <span class="fa fa-database dnl-link-icon"></span>
            <span class="dnl-link-text">Brand Generator</span>
          </a>
        </li>
        <li>
          <a href="newidgenerator.html">
            <span class="fa fa-database dnl-link-icon"></span>
            <span class="dnl-link-text">New ID Generator</span>
          </a>
        </li>
        <li>
          <a href="publicitygenerator.html">
            <span class="fa fa-database dnl-link-icon"></span>
            <span class="dnl-link-text">Publicity Generator</span>
          </a>
        </li>
        <li>
          <a href="toughlovegenerator.html">
            <span class="fa fa-database dnl-link-icon"></span>
            <span class="dnl-link-text">Tough Love Generator</span>
          </a>
        </li>
        <li>
          <a href="confidencegenerator.html">
            <span class="fa fa-database dnl-link-icon"></span>
            <span class="dnl-link-text">Confidence Generator</span>
          </a>
        </li>
        <li>
          <a href="mugruggenerator.html">
            <span class="fa fa-database dnl-link-icon"></span>
            <span class="dnl-link-text">Mug/Rug Generator</span>
          </a>
        </li>
        <li>
          <a href="importantthings.html">
            <span class="fa fa-database dnl-link-icon"></span>
            <span class="dnl-link-text">More Important Art Generator</span>
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a class="collapsed" data-toggle="collapse" href="#collapseCommissions" aria-expanded="false" aria-controls="collapseCommissions">
        <span class="fa fa-file-o dnl-link-icon"></span>
        <span class="dnl-link-text">Commissions</span>
        <span class="fa fa-angle-up dnl-btn-sub-collapse"></span>
      </a>
      <!-- Dropdown level one -->
      <ul class="dnl-sub-one collapse" id="collapseCommissions">
        <li>
          <a href="openambiguity.html">
            <span class="fa fa-video-camera dnl-link-icon"></span>
            <span class="dnl-link-text">Open Ambiguity: Keynote, Open Source &amp; Feelings 2016</span>
          </a>
        </li>
        <li>
          <a href="futureofwork.html">
            <span class="fa fa-video-camera dnl-link-icon"></span>
            <span class="dnl-link-text">The Future of Work, Testimonials (Pt.1)</span>
          </a>
        </li>
        <li>
          <a href="temporaryartreview.html">
            <span class="fa fa-chrome dnl-link-icon"></span>
            <span class="dnl-link-text">They Paid Me to Give you a Tour of the Internet</span>
          </a>
        </li>
        <li>
          <a href="makingyoumakingothers.html">
            <span class="fa fa-video-camera dnl-link-icon"></span>
            <span class="dnl-link-text">Making You, Making Others</span>
          </a>
        </li>
        <li>
          <a href="twins.html">
            <span class="fa fa-video-camera dnl-link-icon"></span>
            <span class="dnl-link-text">Liat Berdugo &amp; Emily Martinez as 5 Twins</span>
          </a>
        </li>
        <li>
          <a href="performativeremoval.html">
            <span class="fa fa-video-camera dnl-link-icon"></span>
            <span class="dnl-link-text">Performative Removal of Creative Block</span>
          </a>
        </li>
        <li>
          <a href="nevertalkaboutyourworkagain.html">
            <span class="fa fa-file-o dnl-link-icon"></span>
            <span class="dnl-link-text">Human Billboard to Talk About Your Work</span>
          </a>
        </li>
        <li>
          <a href="unfamiliarmaterials.html">
            <span class="fa fa-video-camera dnl-link-icon"></span>
            <span class="dnl-link-text">Performative Validation for Working with Unfamiliar Materials</span>
          </a>
        </li>
        <li>
          <a href="forecasting.html">
            <span class="fa fa-volume-down dnl-link-icon"></span>
            <span class="dnl-link-text">Psychic Reading to Future Proof Your Career</span>
          </a>
        </li>
        <li>
          <a href="externalizedistrust.html">
            <span class="fa fa-video-camera dnl-link-icon"></span>
            <span class="dnl-link-text">Performance to Externalize Distrust</span>
          </a>
        </li>
        <li>
          <a href="hypnosis.html">
            <span class="fa fa-volume-down dnl-link-icon"></span>
            <span class="dnl-link-text">Hypnosis to Engender Trust</span>
          </a>
        </li>
        <li>
          <a href="timemanagement.html">
            <span class="fa fa-volume-down dnl-link-icon"></span>
            <span class="dnl-link-text">Custom Audio Track for Motivation</span>
          </a>
        </li>
        <li>
          <a href="fucklabor.html">
            <span class="fa fa-file-o dnl-link-icon"></span>
            <span class="dnl-link-text">Fuck Labor. Write Scripts, Commission Animals</span>
          </a>
        </li>
      </ul>
    </li>
    <li>
    <a class="collapsed" data-toggle="collapse" href="#collapseDownloads" aria-expanded="false" aria-controls="collapseDownloads">
        <span class="fa fa-download dnl-link-icon"></span>
        <span class="dnl-link-text">Downloads</span>
        <span class="fa fa-angle-up dnl-btn-sub-collapse"></span>
      </a>
      <!-- Dropdown level one -->
      <ul class="dnl-sub-one collapse" id="collapseDownloads">
        <li>
          <a href="5easysteps.html">
            <span class="fa fa-file-pdf-o dnl-link-icon"></span>
            <span class="dnl-link-text">How to Make Yourself Into A Commissioning Body in 5 Easy Steps Workbook</span>
          </a>
        </li>
        <li>
          <a href="media/RitualsForRemovingCreativeBlocks.pdf">
            <span class="fa fa-file-pdf-o dnl-link-icon"></span>
            <span class="dnl-link-text">Rituals for Removing Creative Blocks</span>
          </a>
        </li>
        <li>
          <a href="media/ContractForAudienceOfOne.pdf">
            <span class="fa fa-file-pdf-o dnl-link-icon"></span>
            <span class="dnl-link-text">Contract for Audience of One</span>
          </a>
        </li>
      </ul>
    </li>
    <li>
    <a class="collapsed" data-toggle="collapse" href="#collapseQuizzes" aria-expanded="false" aria-controls="collapseQuizzes">
        <span class="fa fa-question dnl-link-icon"></span>
        <span class="dnl-link-text">Quizzes &amp; Surveys</span>
        <span class="fa fa-angle-up dnl-btn-sub-collapse"></span>
      </a>
      <!-- Dropdown level one -->
      <ul class="dnl-sub-one collapse" id="collapseQuizzes">
        <li>
          <a href="moneyquiz.html">
            <span class="fa fa-question dnl-link-icon"></span>
            <span class="dnl-link-text">Would Money Be All I Really Need to Succeed?</span>
          </a>
        </li>
        <li>
          <a href="makingyou.html">
            <span class="fa fa-question dnl-link-icon"></span>
            <span class="dnl-link-text">Important Research: <em>Making You</em> Survey</span>
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="cse.html">
        <span class="fa fa-globe dnl-link-icon"></span>
        <span class="dnl-link-text">CSE</span>
      </a>
    </li>
    <li>
      <a href="sweepstakes.html">
        <span class="fa fa-trophy dnl-link-icon"></span>
        <span class="dnl-link-text">Sweepstakes</span>
      </a>
    </li>
    <li>
      <a href="store.html">
        <span class="fa fa-shopping-cart dnl-link-icon"></span>
        <span class="dnl-link-text">Store</span>
      </a>
    </li> 
    <p class="dnl-nav-title">Info</p>
    <li>
      <a href="#contact-modal">
        <span class="fa fa-envelope-o dnl-link-icon"></span>
        <span class="dnl-link-text">Contact</span>
      </a>
    </li>
    <li>
      <a href="#hello" id="openpopup">
        <span class="fa fa-info-circle dnl-link-icon"></span>
        <span class="dnl-link-text">About</span>
      </a>
    </li>
    <li>
      <a href="index.html">
        <span class="fa fa-home dnl-link-icon"></span>
        <span class="dnl-link-text">Home</span>
      </a>
    </li>       
  </ul>      
</div><!-- /.dash-navbar-left -->
<!--END: NAVIGATION-->