<!-- retired cards  

  <div id="card9" class="card draggable center cse">
    Center for the Sharing Economy (CSE)<br/><br/>
    <a href="cse.html"><img class="img-responsive" src="img/cse-ad-1.png"></a>
  </div>
  
  <div id="card10" class="card draggable center">
    <em>Open Ambiguity<br/>Keynote, OSF 2016</em><br/><br/><br/><br/>
    <iframe src="https://player.vimeo.com/video/177629356?title=0&byline=0&portrait=0" width="275" height="155" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe><br/><br/>
    <small>Video, Commissioned Lecture</small>
  </div>

  <div id="card14" class="card draggable center">
    <em>Liat Berdugo + Emily Martinez<br/>as Five Twins</em><br/><br/><br/>
    <iframe src="https://player.vimeo.com/video/154158545?title=0&byline=0&portrait=0" width="275" height="155" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe><br/><br/>
    <small>Video, Commissioned Performance</small>
  </div>

  <div id="card11" class="card draggable center">
    <em>How to Make Yourself into a Commissioning Body<br/>in 5 Easy Steps</em><br/><br/><img class="img-responsive" src="img/us.jpg"><br/><small>performative lecture and workshop<br/><a href="http://2016.transmediale.de/content/how-to-turn-yourself-into-a-commissioning-body-in-five-easy-steps" target="_blank">transmediale / conversationpiece</a><br/><br/>download the <a href="http://anxioustomake.ga/media/HowToMakeYourselfIntoACommissioningBodyWorkbook.pdf" target="_blank">workbook</a> + <a href="http://anxioustomake.ga/media/scantron.pdf" target="_blank">scantron</a> </small>
  </div>

  <div id="card11" class="card draggable center">
    <em>The Future of Work<br/>Testimonials</em><br/><br/><br/><br/>
    <iframe src="https://player.vimeo.com/video/163223022?title=0&byline=0&portrait=0" width="275" height="155" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe><br/><br/>
    <small>Video, testimonials</small>
  </div>  

  <div id="card2" class="card draggable center">
    <em>Confidence Generator</em><br/><br/><br/><br/>
    <iframe src="https://player.vimeo.com/video/154158324?title=0&byline=0&portrait=0" width="275" height="155" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe><br/><br/>
    <small>Video, Commissioned Performance</small>
  </div>

  <div id="card3" class="card draggable center rituals">
    <em>Rituals for Removing<br/>Creative Blocks</em><br/>
    <a href="media/RitualsForRemovingCreativeBlocks.pdf"><img class="img-responsive" src="img/download-rituals.jpg"></a>
  </div> 

  <div id="card9" class="card draggable center sweepstakes">
    <img class="new" src="img/new.gif"/>
    Sweepstakes<br/><br/><br/><br/>
    <a href="sweepstakes.html"><img class="img-responsive" src="img/sweepstakes-trophy2.gif"></a>
    <br/><br/>
    <small>Enter to Win!</small>
  </div> 

  <div id="card13" class="card draggable center">
    <em>They Paid Me to Give<br/>You a Tour of the Internet</em><br/><br/>
    <a href="temporaryartreview.html"><img class="img-responsive" src="img/tar.gif"></a><br/>
    <small>Net Art Intervention, Commissioned by Temporary Art Review</small>
  </div>

  <div id="card17" class="card draggable center critical-texts">
    Texts<br/><br/>
    <small>critical art practice and the sharing economy<br/><br/>
    mala onda: a guide for surviving the next five years (or the next 5 minutes) of accelerated change in post-capitalism's black magic vortex<br/><br/>
    radical practices in the network economy<br/><br/>
    tactics, movements, and forms of resistance for temporary, precarious laborers, knowledge workers, and cultural producers working today</small>
  </div> 

  <div id="card16" class="card draggable center internet-empire">
    <em>How to Make Yourself an Internet Empire</em><br/><br/>a case study
  </div>

  <div id="card15" class="card draggable center labor">
    <em>How to Make Yourself a Documentary about Labor Conditions in the Capital "A" Art World</em><br/><br/>a case study
  </div> -->