<!--START: TAR MODAL-->
<aside id="tar-modal" class="popup">
  <div class="popUpContainer">
    <header>
      <a href="#!" class="closePopUp">X</a>
      <h2><small>They Paid Me to Give You a Tour of the Internet</small></h2>
    </header>
    <article class="modal-text">
      <p><em>They Paid Me to Give You a Tour of the Internet</em> was commissioned by Temporary Art Review for <a href="http://theluminaryarts.com/exhibitions/document-v" target="_blank">"Document V"</a>. The project ran from 3.25.2016 - 5.20.2016 on <a href="http://temporaryartreview.com" tagret="_blank">temporaryartreview.com</a> It is now archived here.
      </p>
    </article>
  </div>        
  <a href="#!" class="closePopUpOutSide"></a>    
</aside>
<!--END: TAR MODAL-->