<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>How to Make Yourself Into A Commissioning Body in Five Easy Steps: The Workbook</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-control" content="public">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="author" content="Liat Berdugo and Emily Martinez">
    <meta name='description' content='How to Make Yourself Into A Commissioning Body in Five Easy Steps: The Workbook'>
    <meta name='keywords' content='how to, instructions, commissioning'>
    
@@include('../partials/_social.html')
@@include('../partials/_css.html')
  </head>

<body class="downloads">

  @@include('../partials/_contact.html')
  @@include('../partials/_about.html')
  @@include('../partials/_nav.html')
  @@include('../partials/_header.html')

  <!--START: MAIN CONTENT-->
  <div class="container main-content">
    <div class="row header">
      <!--main content header-->
      <div class="col-xs-8 col-xs-offset-3 col-sm-4 col-sm-offset-0 col-md-4 col-md-offset-0 col-lg-4 col-lg-offset-0">
        <img class="img-responsive shake-little shake-constant shake-constant--hover logo" src="img/anxious-logo-www.png">
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <h1 class="title">How to Make Yourself Into A Commissioning Body in 5 Easy Steps<br/><small><i class="fa fa-download" aria-hidden="true"></i> workbook + scantron</small></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-xs-offset-1 col-sm-offset-1 document">
        <a href="media/HowToMakeYourselfIntoACommissioningBodyWorkbook.pdf">
        <img src="img/download-makeyourself.jpg" class="img-responsive" alt="How to Make Yourself Into A Commissioning Body in 5 Easy Steps Workbook"></a>
        <span><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Workbook</span>
      </div>
      <div class="col-xs-3 col-sm-3 document">
        <a href="media/scantron.pdf">
        <img src="img/download-scantron.png" class="img-responsive" alt="How to Make Yourself Into A Commissioning Body in 5 Easy Steps Scantron"></a>
        <span><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Scantron</span>
      </div>
    </div>
  </div>
  <!--END: MAIN CONTENT-->

@@include('../partials/_js.html')
</body>

</html>