<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>Brand Generator</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-control" content="public">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Liat Berdugo and Emily Martinez">
    <meta name='keywords' content='share, sharing economy, desiring-production, desiring-machine,commissions, authorship, identity, DIY culture, entrepreneurship, artist-as-entrepreneur, sourcing, labor, Industry 4.0, economies of scale, artist-as-curator, artist-as-commissioner, on-demand economy, collaborative consumption, collaborative economy'>
    <meta name='description' content='Brand Generator'>
@@include('../partials/_social.html')
@@include('../partials/_css.html')

</head>

<body class="brand-generator">
@@include('../partials/_contact.html')
@@include('../partials/_about.html')
@@include('../partials/_nav.html')
@@include('../partials/_header.html')

    <!--START: MAIN CONTENT-->
    <div class="models"></div>
	<marquee class="clickme" scrollamount="10" direction="right"><img src="img/product-56.png"><img class="button" src="img/clickhere.gif"></marquee>
	<!--END: MAIN CONTENT-->

@@include('../partials/_js.html')
<script type="text/javascript" src="js/fall.js"></script>
</body>
</html>