<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Anxious to Commission</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-control" content="public">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="author" content="Liat Berdugo and Emily Martinez">
    <meta name='description' content='Our Commissions'>
    <meta name='keywords' content='share, sharing economy, desiring-production, desiring-machine, commissions, authorship, identity, DIY culture, entrepreneurship, artist as entrepreneur, sourcing, labor, Industry 4.0, economies of scale, artist as curator, artist as commissioner, on-demand economy, collaborative consumption, collaborative economy, gig-economy'>
@@include('../partials/_social.html')
@@include('../partials/_css.html')   
  </head>

  <body class="subcategory">
@@include('../partials/_contact.html')
@@include('../partials/_about.html')
@@include('../partials/_nav.html')
@@include('../partials/_header.html')

    <!--START: MAIN CONTENT-->
    <div class="container">
        <div class="row">
          <h1 class="title">Our Commissions</h1>
          <div class="col-xs-6 col-sm-4 col-md-3 document">
            <a href="wwwork.html">
            <img src="img/document.jpg" class="img-responsive" alt="WWWORK"><span>WWWORK</span></a>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-3 document">
            <a href="quitting.html">
            <img src="img/document.jpg" class="img-responsive" alt="Quitting"><span>Quitting</span></a>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-3 document">
            <a href="dolphinaccelerator.html">
            <img src="img/document.jpg" class="img-responsive" alt="Dolphin Accelerator"><span>Dolphin Accelerator</span></a>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-3 document">
            <a href="malaonda.html">
            <img src="img/document.jpg" class="img-responsive" alt="Mala Onda"><span>Mala Onda</span></a>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-3 document">
            <a href="openambiguity.html">
            <img src="img/document.jpg" class="img-responsive" alt="Open Ambuguity"><span>Open Ambuguity</span></a>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-3 document">
            <a href="futureofwork.html">
            <img src="img/document.jpg" class="img-responsive" alt="Future of Work, Testimonials (Pt.1)"><span>The Future of Work, Testimonials (Pt.1)</span></a>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-3 document">
            <a href="temporaryartreview.html">
            <img src="img/document.jpg" class="img-responsive" alt="They Paid Me to Give you a Tour of the Internet"><span>They Paid Me to Give you a Tour of the Internet</span></a>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-3 document">
            <a href="makingyoumakingothers.html">
            <img src="img/document.jpg" class="img-responsive" alt="Making You, Making Others"><span>Making You, Making Others</span></a>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-3 document">
            <a href="twins.html">
            <img src="img/document.jpg" class="img-responsive" alt="Performance of Roles or Personas Outside of Comfort Zone"><span>Performance of Roles or Personas Outside of Comfort Zone</span></a>
          </div> 
          <div class="col-xs-6 col-sm-4 col-md-3 document">
            <a href="performativeremoval.html">
            <img src="img/document.jpg" class="img-responsive" alt="Performative Removal of Creative Block"><span>Performative Removal of Creative Block</span></a>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-3 document">
            <a href="nevertalkaboutyourworkagain.html">
            <img src="img/document.jpg" class="img-responsive" alt="Human Billboard to Talk About Your Work"><span>Human Billboard to Talk About Your Work</span></a>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-3 document">
            <a href="unfamiliarmaterials.html">
            <img src="img/document.jpg" class="img-responsive" alt="Performative Validation for Working with Unfamiliar Materials"><span>Performative Validation for Working with Unfamiliar Materials</span></a>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-3 document">
            <a href="forecasting.html">
            <img src="img/document.jpg" class="img-responsive" alt="Psychic Reading to Future Proof Your Career"><span>Psychic Reading to Future Proof Your Career</span></a>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-3 document">
            <a href="externalizedistrust.html">
            <img src="img/document.jpg" class="img-responsive" alt="Performance to Externalize Distrust"><span>Performance to Externalize Distrust</span></a>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-3 document">
            <a href="hypnosis.html">
            <img src="img/document.jpg" class="img-responsive" alt="Hypnosis to Engender Trust"><span>Hypnosis to Engender Trust</span></a>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-3 document">
            <a href="timemanagement.html">
            <img src="img/document.jpg" class="img-responsive" alt="Custom Audio Track for Motivation"><span>Custom Audio Track for Motivation</span></a>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-3 document">
            <a href="fucklabor.html">
            <img src="img/document.jpg" class="img-responsive" alt="Fuck Labor. Write Scripts, Commission Animals"><span>Fuck Labor. Write Scripts, Commission Animals</span></a>
          </div>   
        </div>
    </div>
    <!--END: MAIN CONTENT-->

@@include('../partials/_js.html')
  </body>

</html>