<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Anxious to Download</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-control" content="public">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="author" content="Liat Berdugo and Emily Martinez">
    <meta name='description' content='Our Downloads'>
    <meta name='keywords' content='share, sharing economy, desiring-production, desiring-machine, commissions, authorship, identity, DIY culture, entrepreneurship, artist as entrepreneur, sourcing, labor, Industry 4.0, economies of scale, artist as curator, artist as commissioner, on-demand economy, collaborative consumption, collaborative economy, gig-economy'>
@@include('../partials/_social.html')
@@include('../partials/_css.html')    

  </head>

  <body class="subcategory">
@@include('../partials/_contact.html')
@@include('../partials/_about.html')
@@include('../partials/_nav.html')
@@include('../partials/_header.html')

    <!--START: MAIN CONTENT-->
    <div class="container main-content">
        <div class="row">
          <h1 class="title shake-slow shake-constant shake-constant--hover"><span class="negative">Our Downloads</span></h1>
          <div class="col-xs-12 col-sm-4 col-md-4 download">
            <a href="5easysteps.html">
            <img src="img/download-makeyourself.jpg" class="img-responsive" alt="How to Make Yourself Into A Commissioning Body in 5 Easy Steps Workbook"></a>
            <span>How to Make Yourself Into A Commissioning Body in 5 Easy Steps Workbook</span>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 download">
            <a href="media/RitualsForRemovingCreativeBlocks.pdf" target="_blank">
            <img src="img/download-rituals.jpg" class="img-responsive" alt="Rituals For Removing Creative Blocks"></a>
            <span>Rituals for Removing Creative Blocks</span>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 download">
            <a href="media/ContractForAudienceOfOne.pdf">
            <img src="img/download-contract.jpg" class="img-responsive" alt="Contract for Audience of One"></a>
            <span>Contract for Audience of One</span>
          </div>  
        </div>
@@include('../partials/_footer.html')
    </div>
    <!--END: MAIN CONTENT-->

@@include('../partials/_js.html')
  </body>

</html>