<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Future Generator</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-control" content="public">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="author" content="Liat Berdugo and Emily Martinez">
    <meta name='description' content='404 error: You are lost.'>
    <meta name='keywords' content=''>
    
@@include('../partials/_social.html')
@@include('../partials/_css.html')
</head>

<body class="generator">
@@include('../partials/_contact.html')
@@include('../partials/_about.html')
@@include('../partials/_modal-afterwork.html')
@@include('../partials/_nav.html')
@@include('../partials/_header.html')

<!--START: MAIN CONTENT-->
<div class="generator-container">
<div class="future"></div>
<button class="makefuture">GENERATE A FUTURE</button>   
</div>
<div class="more-info-bottom-left"><a href="#afterwork-modal"><img src="img/info.gif"></a></div>
<div id="love-me">
  <marquee direction="down" width="100%" height="100%" behavior="alternate">
    <marquee behavior="alternate">
      <div><img src="img/dollar140px.gif" alt=""></div>
    </marquee>
  </marquee>
</div>
<!--END: MAIN CONTENT-->


@@include('../partials/_js.html')
<script src="js/fourfutures.js"></script>
</body>
</html>