<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anxious to Never Have to Talk About Your Work Again</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-control" content="public">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="author" content="Liat Berdugo and Emily Martinez">
    <meta name='description' content='Never Talk About Your Work Again'>
    <meta name='keywords' content='human billboards, tongue-tied, artists statement'>
    
@@include('../partials/_social.html')
@@include('../partials/_css.html')
</head>

<body class="commission">

  @@include('../partials/_contact.html')
  @@include('../partials/_about.html')
  @@include('../partials/_nav.html')
  @@include('../partials/_header.html')

  <!--START: MAIN CONTENT-->
  <div class="container main-content">
    <div class="row">
      <!--main content header-->
      <div class="col-xs-8 col-xs-offset-3 col-sm-4 col-sm-offset-0 col-md-4 col-md-offset-0 col-lg-4 col-lg-offset-0">
        <img class="img-responsive shake-little shake-constant shake-constant--hover logo" src="img/anxious-logo-www.png">
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <h1 class="pageheading">Commission a Human Billboard to Talk About Your Work</h1>
      </div>
    </div>  
    <div class="row">

        <!--script or text goes here-->
        <div class="col-xs-12 col-sm-4 col-md-4">
            <p class="title">Never talk about your work again</p>
            <div class="clipvertical">    
                <p class="script">SCRIPT<br/><br/>This artwork is about the sharing economy
                </p>
            </div>   
            <p class="credit">Commissioned from: <a href="https://www.fiverr.com/ale_brasil/write-your-message-on-my-tummy" target="_blank">I will write your message on my tummy</a></p>
        </div>

        <!--sample goes here-->
        <div class="col-xs-12 col-sm-8">
            <h1 class="title">Here is ours</h1>
            <img src="img/humanbillboard.jpg" class="img-responsive">      
        </div>

        <!--three additional examples go here-->
        <div class="col-xs-12 col-sm-8">
            <h1 class="title">Make Your Own</h1>
            <div class="row">
                <div class="col-xs-4">
                    <span class="recommendation">We recommend:<br/></span> 
                    <a href="https://www.fiverr.com/caegirl/write-your-message-on-my-feet" target="_blank">I will write your message on my feet</a>
                </div>
                <div class="col-xs-4">
                    <span class="recommendation">We recommend:<br/></span> 
                    <a href="https://www.fiverr.com/bwayne212/write-anything-you-want-on-my-six-pack-abs" target="_blank">I will write anything on an ab models six pack</a>
                </div>
                <div class="col-xs-4">
                    <span class="recommendation">We recommend:<br/></span> 
                    <a href="https://www.fiverr.com/crystalife/write-and-draw-anything-on-face-in-24-hours" target="_blank">I will write and draw anything on my face in 24 HOURS</a>
                </div>
            </div>
        </div>  
  
        </div><!--end container-->
    </div><!--end row-->

<!--END: MAIN CONTENT-->

@@include('../partials/_js.html')
</body>

</html>