<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Project Generator</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-control" content="public">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="author" content="Liat Berdugo and Emily Martinez">
    <meta name='description' content='New Project Generator'>
    <meta name='keywords' content='share, sharing economy, desiring-production, desiring-machine, commissions, authorship, identity, DIY culture, entrepreneurship, artist as entrepreneur, sourcing, labor, Industry 4.0, economies of scale, artist as curator, artist as commissioner, on-demand economy, collaborative consumption, collaborative economy, gig-economy'>

@@include('../partials/_social.html')
@@include('../partials/_css.html')

</head>

<body class="generator">
@@include('../partials/_contact.html')
@@include('../partials/_about.html')
@@include('../partials/_nav.html')
@@include('../partials/_header.html')

  <!--START: MAIN CONTENT-->
  <div class="generator-container">
    <div class="newproject"></div>
    <button class="makeart">GENERATE A NEW PROJECT</button>   
  </div>
  <!--END: MAIN CONTENT-->

  @@include('../partials/_js.html')
  <script type="text/javascript" src="js/mediums.json"></script>
  <script type="text/javascript" src="js/topics.json"></script>
  <script type="text/javascript" src="js/topics2.json"></script>
  <script type="text/javascript" src="js/adjectives.json"></script>
  <script type="text/javascript" src="js/adjectives2.json"></script>
  <script type="text/javascript" src="js/adverbs.json"></script>
  <script type="text/javascript" src="js/gerunds.json"></script>
  <script type="text/javascript" src="js/newprojectgenerator.js"></script>

</body>
</html>