<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>How to Commission a Revolution</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Cache-control" content="public">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="author" content="Liat Berdugo and Emily Martinez">
  <meta name='description' content='The Future of Work Testimonials'>
  <meta name='keywords' content='automation, future of work, sharing economy, mass unemployment, basic income, testimonials'>
  
@@include('../partials/_social.html')
@@include('../partials/_css.html')
  <style>
  #rhizome a {color: #FF0179;}
  .magnify {width: 100%; position: relative; cursor: none}
  .large {
    width: 175px; height: 175px;
    position: absolute;
    border-radius: 100%;  
    /*Multiple box shadows to achieve the glass effect*/
    box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 
    0 0 7px 7px rgba(0, 0, 0, 0.25), 
    inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
    display: none;
  }
  /*To solve overlap bug at the edges during magnification*/
  .small { display: block; }
  </style>
</head>

<body class="commission" id="rhizome">

@@include('../partials/_contact.html')
@@include('../partials/_about.html')
@@include('../partials/_nav.html')
@@include('../partials/_header.html')

<!--START: MAIN CONTENT-->
<div class="container main-content">
  <div class="row">
    <!--main content header-->
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <h1 class="pageheading">How to Commission a Revolution in 3 Easy Steps</h1>
    </div>
    <div class="col-xs-8 col-xs-offset-3 col-sm-4 col-sm-offset-0 col-md-4 col-md-offset-0 col-lg-4 col-lg-offset-0">
      <img class="img-responsive shake-little shake-constant shake-constant--hover logo" src="img/anxious-logo-www.png">
    </div>
  </div>

  <div class="row">  
    <!--proposal-->
    <div class="col-xs-12 col-sm-8">

      <div class="magnify">
        <div class="large"></div>
        <img class="small img-responsive" src="img/rhizome-revolution.jpg"/>
        mouse over image to zoom <span class="fa fa-search"></span> 
      </div>
      
      <h3>Proposal</h3>
      <p><em>“The tough logic of capitalism prevails even at the heart of the sharing economy. As nice as it may be to share, no one gives away anything for free. Capitalism reaches fulfillment when it sells communism as a commodity. Communism as a commodity spells the end of revolution.”</em> – Byung Chul Han  </p>

      <p>In an effort to document and broaden the conversation about labor and the sharing economy, we are launching a Kickstarter to commission a revolution.
      <br/><br/><strong>Step 1</strong>: Hijack sharing economy platforms, use Kickstarter as a “medium”.
      <br/><br/><strong>Step 2</strong>: We will commission campaign material in the form of <a href="https://www.fiverr.com/voiceoverpete/combine-top-rated-sellers-breaking-news-team" target="_blank">breaking news updates</a>, <a href="https://www.fiverr.com/ashwanithakur/interview-people-on-the-streets-of-india" target="_blank">interviews on the streets</a>, and <a href="futureofwork.html" target="_blank">testimonials</a>, sourced from Fiverr.com. 
      <br/><br/><strong>Step 3</strong>: If our campaign is successfully funded, we will commission local sharing economy workers (Task Rabbiters, Uber drivers) to carry out acts of resistance in public (e.g. actions at sharing economy company headquarters, tech events, Donald Trump rallies).</p>     
      <h3>Artist Statement</h3>
      <p>Anxious to Make is the collaborative practice of Liat Berdugo and Emily Martinez, two commissioning bodies. Our focus is on the so-called "sharing economy" and the contemporary artist's "anxiety to make" in the accelerationist, neoliberal economic landscape. While Anxious to Make’s physical existence takes many shifting forms, it often manifests as series of video commissions, downloads, online generators, workshops, net art interventions, and sweepstakes. Anxious to Make believes in absurdist extremes as way to examine contemporary realities.</p> 
      <p>Our book, titled “<a href="5easysteps.html">How to Make Yourself into a Commissioning Body in 5 Easy Steps</a>,” prods at the contemporary artist's drive to overproduce in the accelerationist, neoliberal paradigm. It uses a distinctly analog algorithm, made literally out of paper, to walk artists through common blockages and offer solutions that can be commissioned through the sharing economy, gesturing toward an endless productive duplication. The book is accompanied by an ongoing online accumulation of solutions – a sample of which is included in this application: “<a href="twins.html">Liat Berdugo + Emily Martinez as Five Twins</a>,” an ongoing commission of fake twins sourced from Fiverr.com, is a solution for artists facing the challenge of working with unfamiliar personas. </p>
      <p>Our work has appeared recently in in EMMEDIA (Calgary, CA), Transmediale (Berlin, DE), Yerba Buena Center for the Arts (San Francisco), The Luminary (St. Louis), Werkartz (Los Angeles), and in <a href="temporaryartreview.html">online interventions on Temporary Art Review.</a></p> 
    </div>  
     <!--portfolio-->
    <div class="col-xs-12 col-sm-4 portfolio">
      <h2>WORK SAMPLES</h2>
      <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/163223022?loop=1&color=ff0179&portrait=0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <a href="futureofwork.html">The Future of Work, Testimonials (Pt.1)</a>
      <br/><br/>
      <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/154158545?loop=1&color=ff0179&portrait=0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <a href="twins.html">Liat Berdugo &amp; Emily Martinez as 5 Twins</a>
      <br/><br/>
      <div>
      <a href="temporaryartreview.html"><img class="img-responsive" src="img/tar.gif"/></a>
      <a href="temporaryartreview.html">They Paid Me to Give you a Tour of the Internet</a>
      </div>
      <div>
        <a href="https://drive.google.com/file/d/0B-xhVfiIM-ateEVwNGRXdFNxWW8/view?usp=sharing" target="_blank"><img class="img-responsive" src="img/uber-drivers-napping.png"/></a>
        <a href="https://drive.google.com/file/d/0B-xhVfiIM-ateEVwNGRXdFNxWW8/view?usp=sharing" target="_blank">"If you had access to all of the resources in the sharing economy..." (<em>Making You</em> survey results)</a>
      </div>
    </div>
  </div><!--end row-->
</div><!--end container-->
<!--END: MAIN CONTENT-->

@@include('../partials/_js.html')
<script>
$(document).ready(function(){

  var native_width = 0;
  var native_height = 0;
  $(".large").css("background","url('" + $(".small").attr("src") + "') no-repeat");

  //Now the mousemove function
  $(".magnify").mousemove(function(e){
    //When the user hovers on the image, the script will first calculate
    //the native dimensions if they don't exist. Only after the native dimensions
    //are available, the script will show the zoomed version.
    if(!native_width && !native_height)
    {
      //This will create a new image object with the same image as that in .small
      //We cannot directly get the dimensions from .small because of the 
      //width specified to 200px in the html. To get the actual dimensions we have
      //created this image object.
      var image_object = new Image();
      image_object.src = $(".small").attr("src");
      
      //This code is wrapped in the .load function which is important.
      //width and height of the object would return 0 if accessed before 
      //the image gets loaded.
      native_width = image_object.width;
      native_height = image_object.height;
    }
    else
    {
      //x/y coordinates of the mouse
      //This is the position of .magnify with respect to the document.
      var magnify_offset = $(this).offset();
      //We will deduct the positions of .magnify from the mouse positions with
      //respect to the document to get the mouse positions with respect to the 
      //container(.magnify)
      var mx = e.pageX - magnify_offset.left;
      var my = e.pageY - magnify_offset.top;
      
      //Finally the code to fade out the glass if the mouse is outside the container
      if(mx < $(this).width() && my < $(this).height() && mx > 0 && my > 0)
      {
        $(".large").fadeIn(100);
      }
      else
      {
        $(".large").fadeOut(100);
      }
      if($(".large").is(":visible"))
      {
        //The background position of .large will be changed according to the position
        //of the mouse over the .small image. So we will get the ratio of the pixel
        //under the mouse pointer with respect to the image and use that to position the 
        //large image inside the magnifying glass
        var rx = Math.round(mx/$(".small").width()*native_width - $(".large").width()/2)*-1;
        var ry = Math.round(my/$(".small").height()*native_height - $(".large").height()/2)*-1;
        var bgp = rx + "px " + ry + "px";
        
        //Time to move the magnifying glass with the mouse
        var px = mx - $(".large").width()/2;
        var py = my - $(".large").height()/2;
        //Now the glass moves with the mouse
        //The logic is to deduct half of the glass's width and height from the 
        //mouse coordinates to place it with its center at the mouse coordinates
        
        //If you hover on the image now, you should see the magnifying glass in action
        $(".large").css({left: px, top: py, backgroundPosition: bgp});
      }
    }
  });
});
</script>
</body>

</html>