<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anxious to Step Out of Your Comfort Zone</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-control" content="public">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="author" content="Liat Berdugo and Emily Martinez">
    <meta name='description' content='Commissioned performances of roles fo personas outside of comfort zone'>
    <meta name='keywords' content='roles, personas, comfort zone, performance, sensitivty, anonymity'>
    
@@include('../partials/_social.html')
@@include('../partials/_css.html')
</head>

<body class="commission">

  @@include('../partials/_contact.html')
  @@include('../partials/_about.html')
  @@include('../partials/_nav.html')
  @@include('../partials/_header.html')

  <!--START: MAIN CONTENT-->
  <div class="container main-content">
    <div class="row">
      <!--main content header-->
      <div class="col-xs-8 col-xs-offset-3 col-sm-4 col-sm-offset-0 col-md-4 col-md-offset-0 col-lg-4 col-lg-offset-0">
        <img class="img-responsive shake-little shake-constant shake-constant--hover logo" src="img/anxious-logo-www.png">
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <h1 class="pageheading">Commission a Performance of Roles or Personas Outside of Comfort Zone</h1>
      </div>
    </div>
    <div class="row">
        <!--script or text goes here-->
        <div class="col-xs-12 col-sm-4 col-md-4">
            <p class="title">Write scripts</p>
            <div class="clipvertical-wrapper">
            <div class="clipvertical">    
                <p class="script">SCRIPT<br/><br/>one. the ad twins<br/>
                (note: “Liat” is pronounced LEE-AHT -- rhymes with FIAT, the car company)
                <br/><br/>
                left: Hi, i’m Emily. 
                <br/><br/>
                right: ...and i’m Liat.
                <br/><br/>
                together: ..and we’re anxious to make.
                <br/><br/>
                left: I’m an artist living in LA. 
                <br/><br/>
                right: And I’m an artist in Oakland. 
                <br/><br/>
                together: Sometimes we wondered what it would feel like to be twins. 
                <br/><br/>
                left: We’re feminists. 
                <br/><br/>
                right: Just so you know. Like, sometimes people ask me how I got to where I am. And It’s not because of my looks. 
                <br/><br/>
                together. It’s not because of our looks. 
                <br/><br/>
                left: It’s not about bodies. It’s about minds. It’s about art. 
                <br/><br/>
                right: We wanted to try on these bodies to say that. 
                <br/><br/>
                left: Yeah. 
                <br/><br/>
                right: Yeah. 
                <br/><br/>
                together: These feminist twin bodies.
                <br/><br/>
                left: I’m a feminist twin. It feels… 
                <br/><br/>
                (pause)
                <br/><br/>
                right: How does it feel?
                <br/><br/>
                left: I’m not sure yet. 
                <br/><br/>
                (pause)
                <br/><br/>
                right: Yeah. me neither. (pause) You look good though. 
                <br/><br/>
                left: Don’t say that. 
                <br/><br/>
                right: Sorry. Engrained patriarchy. Ugh. 
                <br/><br/>
                left: It’s ok. 
                <br/><br/>
                (pause)
                <br/><br/>
                right: I feel less lonely. 
                <br/><br/>
                left: You do?
                <br/><br/>
                right: Yeah. 
                <br/><br/>
                left: Are you anybody’s favorite person?
                <br/><br/>
                right: What?
                <br/><br/>
                left: Are you the favorite person of anybody?
                <br/><br/>
                right: Oh. 
                <br/><br/>
                left: I can give you some more time to think about it. 
                <br/><br/>
                right: No, no, that’s ok. (pause) I am. I am somebody’s favorite person
                <br/><br/>
                left: Ok, so can I ask you how sure you are of this? Are you very certain, confident, you think so, not sure, or could be?
                <br/><br/>
                right: Oh, I’m very certain!
                <br/><br/>
                left: Ok, that’s the highest, the top. 
                <br/><br/>
                right: I know. You’re my twin. So… it has to be true. 
                <br/><br/>
                (With surprise, as if she doesn’t feel that the other twin is her favorite person)
                left: Oh!
                <br/><br/><br/><br/>

                two. ashwani thakur twins<br/>
                100 words
                <br/><br/>
                right: Yeah. That’s how I know I’m somebody’s favorite person. 
                <br/><br/>
                left: OK.
                <br/><br/>
                right: I’ve always wanted to be a man.
                <br/><br/>
                left: I’ve always wanted that, too. 
                <br/><br/>
                right: Like, a art-businessman, with a sharp blazer.
                <br/><br/>
                left: And a twin! That’s what I want.
                <br/><br/>
                right: What would you do as an art-twin-businessman?
                <br/><br/>
                left: I guess I would talk to a camera. 
                <br/><br/>
                right: Yeah?
                <br/><br/>
                left: And I would write business plans. I would write business plans about how to make yourself an Internet empire. I’d take my twin-businessman to venture capital meetings, and we’d surround angel investors until they pulled out their checkbooks.
                <br/><br/><br/><br/>

                three. the australian twins.
                <br/><br/>
                right: hahaha, that’s a great idea. What would you do when the checkbook comes out?
                <br/><br/>
                left: I would take the check! And run to the bank! I would deposit it and begin my internet empire. 
                <br/><br/>
                right: I love the Internet. That’s the teenage boy inside me. 
                <br/><br/>
                (both look down at bodies, and realize that they are teenage boys)<br/>
                together: whoa! our bodies!
                <br/><br/>
                right: I always told you that you text like a teenage boy. 
                <br/><br/>
                left: ahaha
                <br/><br/>
                right: Oh man, this is great. I love being a teenager. The angst! The firsts!
                <br/><br/>
                left: So we’re teenage boy twins?
                <br/><br/>
                right: Yeah. 
                <br/><br/>
                left: Do you think we’ve fallen in love yet?
                <br/><br/>
                right: I don’t know. (pause) I think I almost have, but not quite. I think I came close. 
                <br/><br/>
                left: I think I fell in love. 
                <br/><br/>
                right: How did it feel?
                <br/><br/>
                left: It was a lot of emotions. Oh man. Intoxicating. I think it was like a deep ocean. Like the kind of deep oceans in geology books. 
                <br/><br/>
                right: I love oceans. I think my first time will feel like a big fire. A big fire burning in a deep hole. 
                <br/><br/>
                left: But you have fallen in love before, right?
                <br/><br/>
                right: *I* have, but this teenage boy hasn’t. So I’m trying to picture what *his* first time will be like. I think it will be a deep hole with a fire in it.
                <br/><br/>
                left: Whoa, these roles, these holes. There is so much digging.
                </p>
            </div>   
            </div>
            <p class="credit">Commissioned from: <a href="https://www.fiverr.com/theadtwins/create-a-promotional-video-featuring-twins" target="_blank">I will create a promotional video featuring twins</a> and <a href="https://www.fiverr.com/ashwanithakur/create-a-special-promotional-video-featuring-twins" target="_blank">I will create a Special Promotional Video featuring TWINS</a> and <a href="https://www.fiverr.com/roberthess/get-australian-twins-to-read-out-your-message" target="_blank">I will get Australian twins to read out your message</a></p>
        </div>

        <!--sample goes here-->
        <div class="col-xs-12 col-sm-8">
            <h1 class="title">Watch ours!</h1>
            <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/154158545?loop=1&color=ff0179&portrait=0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>       
        </div>

        <!--three additional examples go here-->
        <div class="col-xs-12 col-sm-8">
            <h1 class="title">Make Your Own</h1>
            <div class="row">
                <div class="col-xs-4">
                    <span class="recommendation">We recommend:<br/></span> 
                    <a href="https://www.fiverr.com/theadtwins/create-a-promotional-video-featuring-twins" target="_blank">I will create a promotional video featuring twins</a>
                </div>
                <div class="col-xs-4">
                    <span class="recommendation">We recommend:<br/></span> 
                    <a href="https://www.fiverr.com/ashwanithakur/create-a-special-promotional-video-featuring-twins" target="_blank">I will create a Special Promotional Video featuring TWINS</a>
                </div>
                <div class="col-xs-4">
                    <span class="recommendation">We recommend:<br/></span> 
                    <a href="https://www.fiverr.com/roberthess/get-australian-twins-to-read-out-your-message" target="_blank">I will get Australian twins to read out your message</a>
                </div>
            </div>
        </div>  
        
    </div><!--end row-->
</div><!--end container-->
<!--END: MAIN CONTENT-->

@@include('../partials/_js.html')
</body>

</html>