<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anxious to Commission a Performative Validation</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-control" content="public">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="author" content="Liat Berdugo and Emily Martinez">
    <meta name='description' content='Performative Validation for Working with Unfamiliar Materials'>
    <meta name='keywords' content='unfamiliar materials, validation'>
    
@@include('../partials/_social.html')
@@include('../partials/_css.html')
</head>

<body class="commission">

  @@include('../partials/_contact.html')
  @@include('../partials/_about.html')
  @@include('../partials/_nav.html')
  @@include('../partials/_header.html')

  <!--START: MAIN CONTENT-->
  <div class="container main-content">
    <div class="row">
        <div class="col-xs-12 col-sm-8">
          <h1 class="pageheading shake-slow shake-constant shake-constant--hover"><em>Commission a Performative Validation</em></h1>
        </div>
        <div class="hidden-xs col-sm-4">
        <img class="img-responsive shake-little shake-constant shake-constant--hover logo" src="img/anxious-logo-www.png">
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="row">
          <div class="col-xs-12">
            <h1 class="title">Watch ours!</h1>
            <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/153587577?loop=1&color=ff0179&portrait=0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>       
          </div>
          <div class="col-xs-12">
            <h1 class="title">Make Your Own</h1>
            <div class="row">  
              <div class="col-xs-12 col-sm-4">
                  <span class="recommendation">We recommend:<br/></span> 
                  <a href="https://www.fiverr.com/milkveins/make-a-performance-art-video-for-you" target="_blank">I will make a performance art video for you</a>
              </div>
              <div class="col-xs-12 col-sm-4">
                  <span class="recommendation">We recommend:<br/></span> 
                  <a href="https://www.fiverr.com/kimberlye/create-a-tutorial-cooking-video-of-how-to-cook-your-recipe" target="_blank">I will create an HD cooking tutorial video of your recipe</a>
              </div>
              <div class="col-xs-12 col-sm-4">
                  <span class="recommendation">We recommend:<br/></span> 
                  <a href="https://www.fiverr.com/mr_marcus/be-drunk-at-the-bar-and-relay-your-message" target="_blank">I will be drunk at the bar and relay your message</a>
              </div>
            </div>
          </div>
        </div>
      </div>      

      <div class="col-xs-12 col-sm-4">
          <p class="title">Write Scripts</p>
          <div class="clipvertical-wrapper">
          <div class="clipvertical">    
              <p class="script">Hey. I’ve got to talk to you. Man-to-man. Man-to-person. Because I heard you’re working with unfamiliar materials.
              <br/><br/>
              Look, I’m not the best ironer in the world. This thing in my hand--(hold up iron)--it’s a hot, steaming piece of metal. It’s dangerous. It’s intimidating. It has a sharp point! 
              <br/><br/>
              This iron, though -- I understand it now. This iron and me get along. It’s like the iron and I are one body. Some people say that ironing is a fantastic upper-body workout, but they’re missing the point. Me and this iron – we *are* *one* body. 
              <br/><br/>
              Anyway, look. I was once a young boy with crinkled shirts. Irons were unfamiliar materials to me. But now they’re not. I’m telling you this because it can be your story, too. You can do this. Whatever your unfamiliar material is -- it can become a part of you.</p>
          </div> 
          </div>  
          <p class="credit">Commissioned from: <a href="https://www.fiverr.com/saavfabb/say-anything-you-want-in-a-video-while-ironing" target="_blank">I will say Anything You Want While Ironing In A HD Video, In Italian, English, Spanish</a></p>
      </div>
    </div><!--end row-->
  @@include('../partials/_footer.html')  
  </div><!--end container-->
<!--END: MAIN CONTENT-->

@@include('../partials/_js.html')
</body>

</html>